::ng-deep #tooltip_title{
    font-size:1.1em;
  }
  
  button{
      float: right;
      z-index: 10;
      position: relative;
  }
  
  #paper_scatterplot_card{
      overflow: hidden;
      background:#001025;
      padding: 0px;
      padding-top: 15px;
  }
  
  ::ng-deep .axis line{
      stroke: #FFFFFF;
    }
    
  ::ng-deep  .axis path{
      stroke: #FFFFFF;
    }
    
  ::ng-deep  .axis text{
      stroke: #FFFFFF;
    }
    
  .loading{
    position: absolute;
    top:20%;
    left:45%;
  }

  .loading-text{
    color: white;
    position: absolute;
    top: 11%;
    font-size: 36px;
    left: 37%;
  }

  .next-step-button{
    position: absolute;
    top: 14px;
    right: 0px;
  }

  .start-button{
    position: absolute;
    top: 45%;
    left: 31%;
    width: 40%;
    height: 20%;
    font-size: 49px;
    border-radius: 12px;
  }