<div class='container'>
  <svg #svgContainer></svg>
  <div cdkDrag class='tooltip'></div>
  <div class='options'>
    <mat-radio-group aria-label="Select an option">
      <mat-icon>sentiment_very_dissatisfied</mat-icon>
      <mat-radio-button value="1">1</mat-radio-button>
      <mat-radio-button value="2">2</mat-radio-button>
      <mat-radio-button value="3">3</mat-radio-button>
      <mat-radio-button value="4">4</mat-radio-button>
      <mat-radio-button value="5">5</mat-radio-button>
      <mat-icon>sentiment_satisfied_alt</mat-icon>
    </mat-radio-group>
  </div>
  <div class='loading' *ngIf="loading">
    <p class="loading-text">Loading Documents</p>
    <mat-spinner></mat-spinner>
  </div>
</div>
