<app-navbar></app-navbar>
<section class='container'>
    <!-- <app-scatterplot id="scatterplot"></app-scatterplot>
    <section id='small_drawer_opener' *ngIf="!isVisible">
        <button color="primary" mat-button (click) = "hideColumn()">
            <mat-icon>chevron_right</mat-icon>
        </button>
      </section>
    <section id='second_col'>
        <app-topic-viewer id="topic-viewer"></app-topic-viewer>
    </section> -->
    <!-- <section id='second_col'> -->
        <app-paper-scatterplot id="app-paper-scatterplot"></app-paper-scatterplot>
        
    <!-- </section> -->
    <!-- <section id='third_col'> -->
          <app-topic-viewer id="topic-viewer"></app-topic-viewer>
    <!-- </section> -->
</section>
