.addToSessButton{
    margin:2px;
    position: relative;
    float: right;
}

#container{
    display: flex;
    flex-direction:row;
}

#first_col{
    display: flex;
    height:100%;
    flex-direction: column;
}

#collection_table{
    width: 100%;
    flex:1;
}

#collection_papers_table{
    width: 100%;
    flex:1;
}

#second_col{
    display: flex;
    height:100%;
    flex-direction: column;
}

#import_to_session_table{
    width:100%;
    flex:1;
}