#container{
    overflow-x: overlay;
    flex-wrap: wrap;
    background:#3c3a3a;
    padding:3px;
    margin-top: -8px;
}

.panel{
  background:#3c3a3a;
  box-shadow: none;
}

mat-card-header div{
  padding:0px;
  margin:0px;
}

mat-card-header text{
  color:#ffffff;
}

::ng-deep.mat-card-content{
  margin-bottom: 0px !important;
}

p{
  color:white;
}

ul{
    list-style: none;
    padding: 0px;
    padding-left:20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

li {
  color:#ffffff;
  padding:1px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0.3;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .list.cdk-drop-list-dragging .topicCard:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  button{
    color: #43EFC4;
  }

  button .mat-icon:hover {
    color: white;
  }

  .card_header{
    font-size:17px;
    color:white;
  }

  .example-spacer {
    flex: 1 1 auto;
}

.mat-button{
  padding:0px;
  min-width:10px;
}

.topicCard{
  padding: 2px;
  border: 1px solid #43EFC4;
  border-radius: 8px;
  background:transparent; 
  margin:0px;
  margin-right: 10px;
  margin-bottom: 5px;
  min-width: 200px;
}

.example-custom-placeholder {
  background: white;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.topicCard text{
  color:#ffffff;
}


.topic_name{
  padding-left: 0px;
  padding-top: 0px;
  font-size: 16px;
  color: white;
}

.title{
  min-width:100px;
  background:#3c3a3a;
}

.label-chip-list{
  width:100%;
  font-size:9px;
}

.mat-chip{
  font-size:9px;
  font-weight: 1;
}

.topic_weight{
  font-size: 18px;
  color: white;
  flex: 0 0 auto;
}

::-webkit-scrollbar {
  display: none;
}

::ng-deep .mat-icon{
  font-size:15px !important;
}
/*color for the arrows in the mat-expansion-panel*/
::ng-deep .mat-expansion-indicator:after {
  color: #43EFC4;
}

::ng-deep .mat-expansion-indicator{ 
  transform: rotate(0deg);
  margin-right: -10px;
  margin-left: 12px;
}

::ng-deep .mat-panel-header{
  margin:0px;
}

.panel_header {
  justify-content: space-between;
  background:#3c3a3a;
}